{% include 'header.html.twig' %}
<nav>
    <ul>
      <li><a href="http://localhost/ProjektJC/pub/">Strona Główna</a></li>
      <li><a href="http://localhost/ProjektJC/pub/login">Logowanie</a></li>
      <li><a href="http://localhost/ProjektJC/pub/register">Rejestracja</a></li>
      <li><a href="http://localhost/ProjektJC/pub/admin">admin</a></li>
      <li><a href="http://localhost/ProjektJC/pub/upload">Dodaj Mema</a></li>
    </ul>
  </nav>
<div id="pageContainer">
    <h1>{{ pageTitle|default("Brak tytułu podstrony")}}</h1>
    {% if user is defined %}
    <div id="loggedUser">Zalogowany użytkownik: {{ user.getName() }} </div>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        <label for="titleInput">Tytuł obrazka</label>
        <input type="text" name="title" id="titleInput"><br>
        <label for="uploadedFileInput">
            Wybierz plik do wgrania na serwer:
        </label><br>
        {% if user is defined %}
        <input type="hidden" name="userId" value={{ user.getId() }}>
        {% endif %}
        <input type="file" name="uploadedFile" id="uploadedFileInput" required><br>
        <input type="submit" value="Wyślij plik" name="submit"><br>
    </form>
</div>
{% include 'footer.html.twig' %}