body {
    margin: 0;
    padding: 0;
}
div#pageContainer {
    max-width: 960px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    
}
div#post {
    background-color: aqua;
    padding: 20px;
    margin-bottom: 20px;
}
div#post img {
    width: 100%;
}
div#loggedUser {
    text-align: right;
    font-weight: 1.5rem;

}
img.thumbnail{
    max-width: 100px;
}


table{
    width: 100%;
}
body{
   background-color: aquamarine;
}
nav {
    
    display: flex;
    justify-content: center; /* Dodane */
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    text-align: center;
  }
  
  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    background-color: #333;
    color: #fff;
  }
